.header {
  width: 100%;
  border-bottom: 2px solid gray;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 8px;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand > img {
  height: 50px;
}

.brand > h1 {
  font-size: 48px;
  font-weight: 800;
  font-family: "Bricolage Grotesque";
}


header > .header-content > a {
  font-size: 20px;
  border: none;
  background-color: black;
  color: white;
  padding: 15px 24px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat";
  font-weight: 600;
  text-decoration: none;
}