.divider {
  margin-block: 50px 30px;
}

.recipe-section {
  padding-bottom: 40px;

  h2 {
    margin-bottom: 10px;
    font-size: 24px;
  }

  h3 {
    margin-top: 10px;
    font-size: 20px;
  }

  ul, ol {
    padding-left: 20px;
    line-height: 150%;
    font-size: 18px;
  }
}